@media print {
    /*.myDivToPrint {*/
    /*    background-color: white;*/
    /*    height: 100%;*/
    /*    width: 100%;*/
    /*    position: fixed;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    margin: 0;*/
    /*    padding: 15px;*/
    /*    font-size: 14px;*/
    /*    line-height: 18px;*/
    /*}*/



    .myDivToPrint{
        margin: 0;
        color: #000;
        background-color: #fff;
        font-size: 14px;
        height: 100%;

    }
    .nprint{
        display: none;
    }
    header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
        display: none;
    }

    .buttons{
        display: none;
    }

    .print-filter{
        display: none;
    }

}

.debug{
    border: 1px solid red;
}

.mynav{
    border: 5px solid blue;
}



.printarea{
    width: 816px;
    margin: 30px auto 0;
}

.report-head{
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
}
.report-body{

}


.report-table{
    margin: auto;
    border: 1px solid red;
    font-size: .8em;
}
.report-table > tr > th{
    padding: 10px;
}

.report-table > tr{
    border: 1px solid black;
}

.report-table > tr > td{
    padding: 10px;
}


.print-filter{
    width: 816px;
    background-color: white;
    margin: 25px auto;
}


