.profile-container{
    margin: auto;
}

.profile-header{
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

.profile-body{
    padding: 15px;
}


.img-container{
    display: block;
    margin: auto;
}