
    .slogan{
        font-weight: bold;
        font-size: 3em;
        color: rgb(0, 100, 0);
        text-align: center;
    }

    .filter{
        background: #fffcfc;
    }
    .job-search-container{
        max-width: 1024px;
        /*border: 1px solid red;*/
        margin: auto;
    }
    .result-container{
        max-width: 1024px;
        /* border: 1px solid red; */
        margin: auto;
    }
    .result-content{
        display: flex;
    }

    .job-card{
        padding: 10px;
    }
    .job-title{
        font-weight: bold;
    }



    /* APPLICANT EMPOYER SECTION */

    .t-box-container{
        display: flex;
        justify-content: center;
    }

    .t-box-applicant{
        padding: 20px;
        border-radius: 30px;
        background-color: green;
        color: white;
        margin: 10px;
    }

    .t-box-title{
        font-weight: bold;
        font-size: 1em;
    }
    .t-box-applicant-title{
        font-weight: bold;
        font-size: 1.2em;
    }

    .t-box-applicant-subtitle{
        padding: 15px;
    }

    .applicant-button{
        padding: 15px;
        border-radius: 30px;
        border: 1px solid green;
        font-weight: bold;
        color:green;
    }

    /* .applicant-button:hover{
        background-color: rgb(179, 250, 165);
        cursor: pointer;
    } */
    .applicant-button:active {
        /* background-color: #3e8e41;
        box-shadow: 0 5px #666; */
        transform: translateY(4px);
    }


    .applicant-button {
        transition-duration: 0.4s;
    }

    .applicant-button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .applicant-button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .applicant-button:hover span {
        padding-right: 25px;
    }

    .applicant-button:hover span:after {
        opacity: 1;
        right: 0;
    }



/* CATEGORY CONTAINER */

    .category-container{
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    .category-box{
        background-color: green;
        padding: 25px;
        color: white;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }

    .category-content{
        margin: auto;
    }
    .category-icon{
        margin: auto;
        text-align: center;
    }
    .category-desc{
        font-weight: bold;
        text-align: center;
    }


    /* custom card */
    .w-card{
        max-width: 720px;
        border: 2px solid rgb(211, 211, 211);
        border-radius: 2px;
        margin: 15px auto;
    }
    .w-card-header{
        margin: 15px;
    }
    .w-card-header-title{
        font-weight: bold;
    }
    .w-card-body{
        margin: 15px;
    }
    .w-card-footer{
        padding: 15px;
    }

    .company-rate{
        font-weight: bold; 
        font-size: 12px; 
        color: rgb(145, 145, 145);
        margin: 15px 0 0 0;
    }

    .no-result{
        padding: 25px;
        text-align: center;
        font-weight: bold;
        color: #a7a7a7;
       
    }


    /* Card Reult
        CSS for result card when job click
    */
    .card-result{
        margin: 0 15px;
        border: 1px solid rgb(230, 230, 230);
    }

    @media only screen and (max-width: 1024px) {

    }

    @media only screen and (max-width: 768px) {
        .main-text-container{
            top: 230px;
            width: 100%;
            margin: 0;
        }
    }

    @media only screen and (max-width: 480px) {
        .main-text-container{
            padding: 15px;
        }
        .main-title{
            font-size: 1.2em;
        }

        .main-subtitle{
            font-size: .8em;
        }

    }





